.footer {
  margin-top: 114px;
  background-color: $purple;

  &__main-info {
    padding-top: 71px;
    padding-bottom: 71px;
    display: flex;
    justify-content: space-between;
  }

  &__box {
    margin-right: 30px;
    max-width: 370px;
  }

  &__box:last-child {
    margin-right: 0;
  }

  &__social {
    max-width: 370px;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
  }

  &__subtitle {
    color: $white;
  }

  &__icon-container {
    max-width: 171px;
    display: flex;
  }

  &__icon {
    margin-right: 30px;
  }

  &__icon:last-child {
    margin-right: 0;
  }

  &__description {
    text-align: center;
    color: $white;
    text-transform: capitalize;
  }

  &__copyright {
    background-color: $dark-purple;
    display: flex;
    justify-content: center;
  }

  &__text {
    margin: 24px 0;
    max-width: 370px;
  }

  &__text-element {
    color: $white;
  }
}
