.feature {
  &__container {
    max-width: 1170px;
    margin: 0 auto 133px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__card {
  }
}

.item-about {
  text-align: center;
  margin: 116px 15px 0;

  &__icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__title {
    padding: 25px 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__text {
    color: $grey-description;
  }
}
