.feature {
  &__container {
    max-width: 1170px;
    margin: 0 auto 133px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: 1024px) {
    &__container {
      display: block;
    }
  }
}

.item-about {
  text-align: center;
  margin: 116px 15px 0;

  &__icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  @media screen and (max-width: 1510px) {
    &__icon {
      width: 85px;
      height: 85px;
    }
  }

  @media screen and (max-width: 1024px) {
    &__icon {
      width: 75px;
      height: 75px;
    }
  }

  &__title {
    padding: 25px 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 1510px) {
    &__title {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__text {
    color: $grey-description;
  }

  @media screen and (max-width: 1510px) {
    &__text {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media screen and (max-width: 1510px) {
  .item-about {
    margin: 98px 20px 0;
  }
}

@media screen and (max-width: 1024px) {
  .item-about {
    margin: 40px 20px 0;
  }
}
