.footer {
  margin-top: 114px;
  background-color: map-get($colors, purple);

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  @include tablet {
    margin-top: 78px;
  }

  @include mobile {
    margin-top: 45px;
  }

  &__main-info {
    padding-top: 71px;
    padding-bottom: 71px;
    display: flex;
    justify-content: space-between;

    @include tablet {
      padding-top: 47px;
      padding-bottom: 41px;
    }

    @include mobile {
      flex-direction: column;
      padding-top: 33px;
      padding-bottom: 33px;
    }
  }

  &__box {
    margin-right: 30px;
    max-width: 370px;

    @include tablet {
      margin-right: 20px;
    }

    @include mobile {
      margin-right: 0;
    }
  }

  &__box:last-child {
    margin-right: 0;
  }

  &__location {
    @include mobile {
      margin-bottom: 69px;
    }
  }

  &__social {
    max-width: 370px;

    @include mobile {
      margin-bottom: 59px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 29px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: map-get($colors, white);

    @include tablet {
      margin-bottom: 16px;
      font-size: rem(14px);
      line-height: rem(16px);
    }

    @include mobile {
      margin-bottom: 36px;
    }
  }

  &__subtitle {
    color: map-get($colors, white);

    @include tablet {
      font-size: rem(14px);
      line-height: rem(16px);
    }
  }

  &__icon-container {
    margin-top: 49px;
    max-width: 171px;
    display: flex;
    justify-content: space-between;

    @include tablet {
      margin-top: 32px;
    }

    @include mobile {
      width: 132px;
      margin-top: 0;
    }
  }

  &__icon {
    @include tablet {
      width: 33px;
      height: 33px;
    }
  }

  &__description {
    text-align: center;
    color: map-get($colors, white);
    text-transform: capitalize;

    @include tablet {
      max-width: 315px;
      font-size: rem(14px);
      line-height: rem(16px);
    }
  }

  &__copyright {
    background-color: map-get($colors, dark-purple);
    display: flex;
    justify-content: center;
  }

  &__text {
    margin: 24px 0;
    max-width: 370px;
    color: map-get($colors, grey-description);
    text-align: center;

    @include tablet {
      margin: 14px 0;
      max-width: 320px;
      font-size: rem(14px);
      line-height: rem(16px);
    }

    @include mobile {
      margin: 29px 0;
      max-width: 280px;
    }
  }

  &__text-element {
    color: map-get($colors, white);
  }
}
