.header {
  position: fixed;
  max-width: 100%;
  top: 0;
  left: 10px;
  z-index: 50;

  &__container {
  }
  &__header-body {
  }
  &__logo {
  }
  &__burger {
  }
  &__menu {
  }
  &__list {
  }
  &__link {
  }
}
