.header {
  background-color: rgb(16, 24, 24);
}

.header-box {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $grey;

  &__logo {
  }
}

.nav-info {
  width: 55%;

  &__block {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 39px 0;
    padding: 0 0;
  }

  &__link {
    text-align: center;
    font-size: 13px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__link:hover {
    border-bottom: 3px solid $grey;
    padding-bottom: 40px;
  }

  &__link:active {
    border-bottom: 3px solid $orange;
    padding-bottom: 40px;
    color: $orange;
  }
}
