body {
  line-height: rem(21px);
  font-size: rem(18px);
  font-family: $raleway-font-stack;
}

.container {
  $gutter: 20px;

  max-width: 1170px + 2 * $gutter;
  margin: 0 auto;
  padding: 0 $gutter;
}

h1 {
  font-weight: 900;
  font-size: rem(64px);
  line-height: rem(75px);
}

h2 {
  font-weight: 700;
  font-size: rem(36px);
  line-height: rem(42px);
}

h3 {
  font-weight: 700;
  font-size: rem(30px);
  line-height: rem(35px);
}

h4 {
  font-weight: 900;
  font-size: rem(24px);
  line-height: rem(28px);
}

h6 {
  font-weight: 700;
  font-size: rem(13px);
  line-height: rem(15px);
}

/*Button */

.button {
  background-color: map-get($colors, orange);
  border: none;
  font-weight: 900;
  font-size: rem(24px);
  line-height: rem(28px);
  text-transform: uppercase;
  color: map-get($colors, white);

  &:hover {
    background-color: map-get($colors, red-button-hover);
  }

  &:active {
    box-shadow: 4px 4px 30px map-get($colors, orange);
  }
}

/*Swiper */

.swiper {
  width: 100%;
}

.swiper-pagination {
  position: static;
  margin-top: 31px;

  @include tablet {
    margin-top: 23px;
  }

  &-bullet {
    border: 1px solid #7e5d6f;
    background: none;
    opacity: 1;
    width: 14px;
    height: 14px;

    @include tablet {
      width: 9.5px;

      height: 9.5px;
    }

    &-active {
      background: #7e5d6f;
    }
  }
}
