body {
  font-family: $raleway-font-stack;
  font-size: rem(18px);
  line-height: rem(21px);
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  font-size: rem(64px);
  line-height: rem(75px);
}

h2 {
  font-weight: 700;
  font-size: rem(36px);
  line-height: rem(42px);
}

h3 {
  font-weight: 700;
  font-size: rem(30px);
  line-height: rem(35px);
}

h4 {
  font-weight: 900;
  font-size: rem(24px);
  line-height: rem(28px);
}

h6 {
  font-weight: 700;
  font-size: rem(13px);
  line-height: rem(15px);
}

.button {
  background-color: map-get($colors, orange);
  border: none;
  font-weight: 900;
  font-size: rem(24px);
  line-height: rem(28px);
  text-transform: uppercase;
  color: map-get($colors, white);

  &:hover {
    background-color: map-get($colors, red-button-hover);
  }

  &:active {
    box-shadow: 4px 4px 30px map-get($colors, orange);
  }
}
