$raleway-font-stack: "Raleway", Arial, sans-serif;
$cardo-font-stack: "Cardo", Arial, sans-serif;

$white: #ffffff;
$black: #000000;
$dark-title: #2d3033;
$grey-description: #6c7279;
$orange: #ff4343;
$grey: #babbc5;
